.sidebar{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
    /* justify-items: center; 
    align-items: center; */

    position:fixed;
    top:60px;
    left:0;
    bottom:0;
    width: 80px;
    background-color: white;

    z-index: 200;
    

}
.sidebar-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap:8px;
    cursor: pointer;
}
.sidebar-link span{
    font-family: Roboto, Arial;
    font-size: 11px;
}

.sidebar-link:hover{
    background-color: rgb(229, 228, 228);
}
.sicons{
    display:block;
    height: 28px;
}

@media (min-width:820px) {
    .sidebar{
        width: 160px;
    }
    .sidebar-link{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap:16px;
        padding-left: 18px;
    }
    main {
    margin-left: 80px;
    }
}
